<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Maven">
  <test name="redBus booking">
    <classes>
      <class name="com.IdeapadTest"/>
      <class name="com.SearchBuseTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
